$color-very-dark-blue: #1b1d23;
$color-dark-grey: #60636d;
$color-medium-grey: #7d828f;
$color-light-grey: #c8ccd8;
$color-very-light-grey: #eeeff4;
$color-red: #df5656;

$font-family: "League Spartan", sans-serif;

$tablet: 768px;
$desktop: 1200px;
